.pagination{
    display: flex;
    gap: 15px;
}
.title span{
    font-size: 16px;
    font-weight: 600;
}
.randomFact{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
    height: 100%;
    padding: 5px 20px;

}
.buttonsContainer{
    display: flex;
    flex-direction: column;
    gap: 10px;
} 